{% block base %}
<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

		{% block styles %}{% endblock %}
	</head>
	<body>
		<header class="site-header">
			<div class="navbar-complet">
				<div class="nav-logo">
					<a href="/">
						<img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo Oumami" class="logo">
					</a>
				</div>

				<nav class="navbar">
					<ul class="nav-links">
						<li><a href="/index">Accueil</a></li>
						<li><a href="/apropos">A propos</a></li>
						<li><a href="/nouveautes">Nouveautés</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/produits">Nos produits</a></li>
					</ul>
				</nav>
				<div class="nav-actions">
					{% if current_user.is_authenticated %}
					<a href="{{ url_for('connexion') }}" class="btn-connexion">
						<img src="{{ url_for('static', filename='images/account.png') }}" alt="Icône utilisateur" class="icon icon-user">
						{{ current_user.prenom}}
					</a>
					{% else %}
					<a href="{{ url_for('connexion') }}" class="btn-connexion">
						<img src="{{ url_for('static', filename='images/account.png') }}" alt="Icône utilisateur" class="icon icon-user">
						Connexion
					</a>
					{% endif %}
					<a href="{{ url_for('panier') }}" class="btn-panier">
						<img src="{{ url_for('static', filename='images/shop.png') }}" alt="Icône panier" class="icon icon-panier">
						Panier
					</a>
				</div>
			</div>

			{% block header %}{% endblock %}
		</header>

		<main id="main" role="main" class="container">
			{% block main %}{% endblock %}
		</main>

		<footer>
			<ul aria-label="Coordonnées">
				<li>Oumami</li>
				<li>4 place de la Halle, 41250 Bracieux</li>
				<li>Télephone 02.54.79.05.48</li>
			</ul>

			<ul aria-label="Horaires d'ouverture">
				<li>Horaires</li>
				<li>Du mardi au samedi</li>
				<li>11h30 - 14h (la vente à emporter et la restauration sur place)</li>
				<li>17h - 20h (la vente à emporter uniquement)</li>
			</ul>

			<ul aria-label="Informations légales">
				<li>Mentions légales</li>
				<li>© 2014-2025 Oumami - Tous droits réservés.</li>
				<li>Crédit site : <a href="https://github.com/nathan2612/Projet_FI_Groupe_17.git">Github</a></li>
			</ul>
		</footer>
	</body>
</html>
{% endblock %}