{% extends "client/base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/client/connexion.css') }}">
{% endblock %}

{% block main %}
    <div class="login-page-specific">
        <div class="login-card">
            <div class="login-image-side">
                <img src="{{ url_for('static', filename='images/assets/sushi-sur-la-table.jpg') }}" alt="Assortiment de sushis">
            </div>
            <div class="login-form-side">
                <div class="login-form-container">
                    <h2>Bienvenue !</h2>
                    <p class="subtitle">Connectez-vous pour accéder à votre compte et passer commande.</p>
                    <form method="post" action="{{ url_for('connexion') }}">
                        {{ form.hidden_tag() }}
                        {% if error %}
                            <div class="field-errors">{{ error }}</div>
                        {% endif %}
        
                        <div class="login-form-group">
                            {{ form.telephone.label }}
                            {{ form.telephone(class="login-form-input", placeholder="Votre numéro de téléphone") }}
                            {% if form.telephone.errors %}
                                <div class="field-errors">{{ form.telephone.errors[0] }}</div>
                            {% endif %}
                        </div>
                        
                        <div class="login-form-group">
                            {{ form.mot_de_passe.label }}
                            {{ form.mot_de_passe(class="login-form-input", placeholder="Votre mot de passe") }}
                            {% if form.mot_de_passe.errors %}
                                <div class="field-errors">{{ form.mot_de_passe.errors[0] }}</div>
                            {% endif %}
                        </div>
        
                        <button type="submit" class="login-form-button">Se connecter</button>
                        <p class="signup-text">Pas encore de compte ? <a class="signup-link" href="{{ url_for('inscription') }}">Inscrivez-vous</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}